.icon-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display.winter i{
    color: paleturquoise;
}

.season-display.summer i{
    color: orange;
}

h1{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 50px;
}

.season-display.winter{
    background-color: red;
}

.summer{
    background-color: orange;
}